.wrapper {
    background-color: #ffffff;
    margin-left: 45rem;
    padding-right: 7rem;
    padding-top: 2rem;
}

.button {
    text-decoration: none;
    color: #f9f9f9;
}

.link {
    text-decoration: none;
}

.btn-send-otp {
    background-color: #007bff;
    /* Màu nền */
    color: #ffffff;
    /* Màu chữ */
    border: none;
    /* Loại bỏ viền */
    padding: 5px 5px;
    /* Kích thước nút */
    font-size: 2px;
    margin-left: 10px;
    /* Kích thước chữ */
    border-radius: 4px;
    /* Bo góc */
    cursor: pointer;
    /* Con trỏ khi rê chuột vào */
}

.btn-send-otp:hover {
    background-color: #82b5eb;
    /* Màu nền hover */
}
    